body {
  text-align: center;
  background-color: #282c34;
  min-height: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.one {
  background-color: black;
}

.two {
  background-color: red;
}
.three {
  background-color: green;
}
.four {
  background-color: blue;
}
.five {
  background-color: yellow;
}
.winning-cells {
  border: solid purple 3px !important;
}
.highlighted {
  opacity: 0.4;
}
.row {
  height: 50px;
  display: flex;
  margin: 10px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cell {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(134, 154, 189);
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
}

button {
  background-color: blue;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}